@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');




.container-banner {
    border-radius: 16px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 83%;
    max-width: 1320px;
    height: 600px;
    background-position: center;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../assets/Image.png);


}


.banner-text {
    font-family: 'Merriweather', serif;
    text-align: center;
    padding-top: 100px;
    padding-left: 344px;
    padding-right: 344px;
    padding-bottom: 177px;


}

#new-year {

    color: #FFF;
    font-size: 32px;
    font-weight: 400;

}

#Celebration {
    color: #FFF;
    font-size: 72px;
    font-weight: 900;
}

.content-text {
    text-align: center;
    font-family: 'Inter', sans-serif; margin: auto;

}

#discount {

    color: #F00;
    font-size: 88px;
    font-weight: 700;
    line-height: normal;padding-top: 120px;

}

#holiday {

    color: #F00;
    font-size: 24px;
    font-weight: 500; padding-top: 10px;padding-bottom: 0;

}

#catagories {
    color: #070211;
    font-size: 48px;
    font-weight: 700; 
}