@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');




.container-banner {
    border-radius: 16px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 83%;
    max-width: 1320px;
    height: 600px;
    background-position: center;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../assets/Image.png);


}


.banner-text {
    font-family: 'Merriweather', serif;
    text-align: center;
    padding-top: 100px;
    padding-left: 344px;
    padding-right: 344px;
    padding-bottom: 177px;


}

#new-year {

    color: #FFF;
    font-size: 32px;
    font-weight: 400;

}

#Celebration {
    color: #FFF;
    font-size: 72px;
    font-weight: 900;
}

.content-text {
    text-align: center;
    font-family: 'Inter', sans-serif;
    margin: auto;

}

#discount {

    color: #F00;
    font-size: 88px;
    font-weight: 700;
    line-height: normal;
    padding-top: 120px;

}

#holiday {

    color: #F00;
    font-size: 24px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 0;

}

#catagories {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
}

.container-poster {
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../assets/Vectorrr.png);

    background-position: center;
    border-radius: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 83%;
    max-width: 1320px;
    height: 600px;

}

.poster-text {
    text-align: left;
    padding-left: 126px;
    padding-right: 550px;
    color: #FFF;

}


#Welcome {
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;
    padding-top: 126px;
    padding-bottom: 24px;


}

#party {

    font-family: Inter;
    font-size: 18px;
    font-weight: 400;

}

#join {

    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;

}

.orange-primary {
    color: #F00;

}

.vanue-content {
    background-position: center;
    border-radius: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 83%;
    max-width: 1320px;
    height: 600px;
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    text-align: center;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);

    margin-top: 100px;
    margin-bottom: 100px;
}

ul li {
    list-style: none;
}

.place {
    font-size: 40px;
    padding: 150px 380px;
}

.btn-primary {
    border-radius: 8px;
    background: #F00;

    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 32px;
    border-color: #F00;
    cursor: pointer;

}

button:hover {
    background-color: rgb(235, 107, 107);
}

.offer {
    background-position: center;
    border-radius: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 83%;
    max-width: 1320px;
    height: 600px;
    display: flex;

}

.offer-content {
    display: flex;

}

.best {
    color: #F00;
    text-align: left;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;

}

.coming {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;

}

.product {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
    margin-top: 100px;
}

.ellipse {
    float: left;
    width: 364.844px;
    height: 364.844px;
    flex-shrink: 0;
    background: #FFF;
    padding: 10px;
    border: 50px;
    border-radius: 463px;
    border: 15px solid #F00;

}


.greeting-content {
    margin-left: 180px;

}

.year {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}


.wishing {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

.gifts {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding: bottom 0;

}


.awesome {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;

}


.instruction {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 20px;

}

.portfolio-content {
    border-radius: 16px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 83%;
    max-width: 1320px;
    height: auto;
    background-position: center;
}

.image-container {
    width: 424px;
    height: 450px;
    border-radius: 16px;
    gap: 20px; 


}

.img-set-one {
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
    filter: blur(100%);
    transition: 0.25s ease-in-out;
}

.img-set-two {
    display: flex;
    gap: 20px;
}

img:hover { cursor: pointer;}




.newslatter {
    width: 83%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 83%;
    height: 550px;
    flex-shrink: 0;
    background-position: center;
    align-items: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);

}


.email-pic {
    padding-left: 550px;
    padding-top: 80px;
}

.subscription {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;

}


.latest-news {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    /* 160% */

}



#email-sec form {
    width: 648px;
    max-width: 700px;
    height: 72px;
    margin: 20px auto;
    display: flex;



}

#email-sec form input {
    border: none;
    flex-grow: 1;
    border-radius: 50px;
    background: #FFF;
    padding: 20px;
    color: rgba(7, 2, 17, 0.30);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;



}

#email-sec form button {
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: none;
    margin-left: -20px;

}


.footer-container {
    width: 1600px;
    max-width: 100%;
    height: 609px;
    background: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    color: #FFF;
}


.footer-cont-info {
    display: flex;
    gap: 50px;
    justify-content: space-around;
    padding-top: 120px;
    line-height: 40px;

}

.address {
    height: 80px;
    width: 375px;

}

.footer-img-cont {
    margin-left: 600px;
    border-top: 80px;
    border-bottom: 80px;
    align-items: center;
}

.copyright {
    display: flex;
    gap: 80px;
    justify-content: space-around;
    padding-top: 100px;
    padding-bottom: 120px;

}

.sale {

    margin-left: auto;
    margin-right: auto;
    width: 1320px;
    height: auto;
}

.holiday-sales {
    text-align: center;
}

.function {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;

}

.hot-discount {
    border: none;
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;


}

.fav {
    color: rgba(7, 2, 17, 0.60);
    padding-top: 0;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;

}


.sale-img {
    width: 1320px;
    height: 650px;
    background: url(../assets/girl.png), url(../assets/red.png);
    background-repeat: no-repeat;
    background-position: top right, bottom;
    display: flex;
}

.cercle {
    width: 220.048px;
    height: 220.048px;
}